  @import '../../../../../styles';

  .grid {
    display: grid;
    gap: 1.25rem;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 3rem;

    @include for-tablet-portrait-up {
      grid-template-columns: repeat(2, 1fr);
    }

    @include for-phone-only {
      grid-template-columns: 1fr;
      gap: 1rem;
    }

    @include for-desktop-line {
      grid-template-columns: repeat(4, 1fr);
    }
  }
